{% extends "base.html" %}
{% from "macros.html" import render_field %}
{% block content %}
<h2 class="mb-4">Вхід</h2>

{# Flash-повідомлення #}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, msg in messages %}
<div class="alert " style="color: #ee6262;">{{ msg }}</div>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" novalidate>
  {{ form.hidden_tag() }}
  {{ render_field(form.username) }}
  {{ render_field(form.password) }}
  {{ render_field(form.remember) }}
  {{ render_field(form.submit) }}
</form>
{% endblock %}