{% extends 'base.html' %}

{% block content %}
<section>
    <h1>About Me</h1>
    <ul>
        <li>Name: Serhii Koval</li>
        <li>Date of birth: 28.02.2006</li>
        <li>City: Burshtyn</li>
    </ul>
</section>
<hr>

<section>
    <h1>Education</h1>
    <ul>
        <li>Carpathian National University, Software engeneering</li>
    </ul>
</section>
<hr>

<section>
    <h1>Skills</h1>
    <ul>
        <li>JavaScript</li>
        <li>PHP</li>
        <li>Rust</li>
    </ul>
</section>
<hr>

<section>
    <h1>Technologies</h1>
    <ul>
        <li>Front-end: React.js, Pixi.js</li>
        <li>Back-end: express.js</li>
        <li>Desktop: Tauri</li>
    </ul>
</section>
<hr>

<section>
    <h1>Projects</h1>
    <ul>
        <li> <a href="https://serhiibruj.github.io/ToNoteTest/#/About">ToNote</a></li>
        <li> <a href="https://serhiibruj.github.io/skii_game/">SkiiGame</a></li>
        <li> <a href="https://github.com/SerhiiBruj/walkerGame">walkerGame</a></li>
    </ul>
</section>
{% endblock %}